<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :genre %>
  <%= f.checkbox :genre %>
  <br>
  <%= f.label "Notes" %>
  <%= f.text_area :song_notes_1 %>

  <%= f.submit %>
<% end %>


