<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :song_title %>
  <%= f.text_field :song_title %>
  <br>
  
  <%= f.label :song_genre %>
  <%= f.checkbox :song_genre %>
  <br>
  <%= f.label "Notes" %>
  <%= f.text_area :song_notes_1 %>

  <%= f.submit %>
<% end %>


